!!! Strict
%html{html_attrs('hu')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Érdekelsz
  %body
    %h1 Érdekelsz iWiW kisalkalmazás

    %a{:href => "http://sandbox.iwiw.hu/app/#{Array(Gadget.appid).first}"} Kipróbálom!
