- module_prefs = Gadget.module_prefs
- module_prefs['title'] += " – #{@title}" unless @title.blank?
!!! XML
%Module
  %ModulePrefs{module_prefs}
    - Gadget.requires.each do |r|
      %Require{:feature => r}/
  = gadget_content_tag do
    = haml :canvas
