%h1 Jó vadászatot!

%h2 Akik iránt eddig érdeklődsz
- if @marked.empty?
  Senki
- else
  %ul
    - @marked.each do |p|
      %li= profile_link(p)

%h2 Akiket viszont érdekelsz
- if @matches.empty?
  Senki
- else
  %ul
    - @matches.each do |p|
      %li= profile_link(p)
